.droplinks {
  font-family: "Inter", "Arial",sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  line-height: 1.9;
  background-color: transparent;
  position: absolute;
  margin: 0;
  height: 10vh;
  width: 50vw;
  padding: 0;
  overflow: visible;
  list-style: none;
  top: 15px;
  right: 15px;
}

@media(max-width:1100px) {
  .droplinks {
    font-size: 15px;
    line-height: 2.0;
  }
}

@media(max-width:500px) {
  .droplinks {
    font-size: 12px;
    line-height: 2;
    top: 13px;
    right: 13px;
  }
}

