.droplinks__title {
  position: absolute;
  top: 0;
  right: 0;
  opacity: 0;
  border-radius: 30px;
  border: solid 2px;
  transition: opacity 1.5s ease;
  height: 25px;
  width: auto;
  padding: 0 9px;
  display: flex;
}
