.form {
  max-width: 600px;
  margin: 0 0 110px 50px;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-self: stretch;
}

@media screen and (max-width: 800px) {
  .form {
    max-width: 650px;
    margin: 0 50px 110px;
  }
}

@media screen and (max-width: 767px) {
  .form {
    margin: 0 20px 80px;
  }
}

.form__input {
  width: 100%;
  height: 60px;
  margin: 10px auto 0;
  border: none;
  border-bottom: 2px solid #000;
  box-sizing: border-box;
  font-family: "Inter", "Arial", sans-serif;
  font-size: 16px;
  line-height: 1.25;
  outline: none;
}

.form__input:first-of-type {
  margin: 60px auto 0;
}

@media screen and (max-width: 767px) {
  .form__input {
    font-size: 14px;
    line-height: 1.42;
    margin: 6px auto 0;
  }
  .form__input:first-of-type {
    margin: 40px auto 0;
  }
}

.form__input_type_error {
  color: #FF0000;
  border-color: #FF0000;
}

.form__input-error {
  font-family: "Inter", "Arial", sans-serif;
  font-size: 16px;
  line-height: 1.25;
  color: #FF0000;
  margin: 5px 0 0;
  display: block;
}

@media screen and (max-width: 767px) {
  .form__input-error {
    font-size: 14px;
    line-height: 1.42;
  }
}

.form__submit-error {
  font-size: 16px;
  line-height: 1.37;
  color: #FF0000;
  margin: 20px 0 0;
  display: block;
  text-align: center;
}

@media screen and (max-width: 767px) {
  .form__submit-error {
    font-size: 14px;
    line-height: 1.42;
  }
}

.form__save-button {
  font-family: "Inter", "Arial", sans-serif;
  width: 100%;
  min-height: 60px;
  border: 2px solid #000;
  box-sizing: border-box;
  border-radius: 30px;
  font-size: 18px;
  line-height: 1.22;
  margin: 40px auto 0;
  transition: 0.5s linear;
  outline: none;
  background-color: #fff;
}

.form__save-button:hover {
  opacity: 0.7;
  cursor: pointer;
  font-style: italic;
}

@media screen and (max-width: 767px) {
  .form__save-button {
    min-height: 42px;
    font-size: 12px;
    line-height: 1.67;
  }
}

.form__save-button_inactive {
  background: #E5E5E5;
  color: #000;
  opacity: 0.2;
  border: 1px solid #000;
}

.form__save-button_inactive:hover {
  opacity: 0.2;
  cursor: unset;
}

.form__title {
  font-family: "Inter", "Arial", sans-serif;
  font-size: 50px;
  line-height: 1.2;
  font-style: italic;
  font-weight: normal;
  margin: 0;
  text-transform: uppercase;
}

@media screen and (max-width: 1279px) {
  .form__title {
    font-size: 46px;
    line-height: 1.2;
  }
}

@media screen and (max-width: 1023px) {
  .form__title {
    font-size: 42px;
    line-height: 1.2;
  }
}

@media screen and (max-width: 767px) {
  .form__title {
    font-size: 32px;
    line-height: 1.2;
  }
}

.form__text {
  font-family: "Inter", "Arial", sans-serif;
  font-size: 16px;
  line-height: 1.37;
  font-style: normal;
  font-weight: normal;
  margin: 40px 0 0;
}

@media screen and (max-width: 1279px) {
  .form__text {
    font-size: 15px;
    line-height: 1.47;
  }
}

@media screen and (max-width: 767px) {
  .form__text {
    font-size: 12px;
    line-height: 1.33;
    margin: 30px 0 0;
  }
}

.form__container {
  display: flex;
  margin: 40px 0 0;
  align-items: center;
}

.form__checkbox-text {
  font-family: "Inter", "Arial", sans-serif;
  font-size: 16px;
  line-height: 1.37;
}

@media screen and (max-width: 767px) {
  .form__checkbox-text {
    font-size: 12px;
    line-height: 1.83;
  }
}

.form__checkbox {
  position: absolute;
  z-index: -1;
  opacity: 0;
}

.form__label {
  display: inline-flex;
  align-items: center;
  user-select: none;
}

.form__label:hover {
  cursor: pointer;
}

.form__label::before {
  content: '';
  display: inline-block;
  width: 28px;
  height: 28px;
  flex-shrink: 0;
  flex-grow: 0;
  border: 2px solid #000;
  box-sizing: border-box;
  border-radius: 50%;
  margin-right: 20px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 50% 50%;
  transition: linear 0.5s;
}

.form__label:hover::before {
  background-color: #000;
}

.form__checkbox:checked+.form__label::before {
  background-color: #000;
}

.form__link {
  color: #000;
  transition: 0.5s linear;
}

.form__link:hover {
  opacity: 0.7;
}
