.main{
    width: 100%;
    max-width: 1260px;
    min-width: 310px;
    background: #FFF;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    margin: 0 auto
}
.main__container-text{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 0;
    margin: 0 0 110px 0;
}
.main__title{
    font-family: "Inter", "Arial",sans-serif;
    font-size: 50px;
    font-style: italic;
    font-weight: normal;
    line-height: 61px;
    letter-spacing: 0em;
    margin: 90px 0 40px 50px;
    padding: 0;
    color: #000000;
}
.main__list{
    margin: 0;
    padding: 0;
}
.main__text{
    margin-top: 14px;
    list-style-type: none;
    padding: 0;
}
.main__title:nth-child(1){
    margin-top: 100px;
}
.main__text:nth-child(1)
{
    margin-top: 0px;
}

.main__description{
    font-family: "Inter", "Arial",sans-serif;
    max-width: 760px;
    font-size: 16px;
    font-style: normal;
    font-weight: normal;
    line-height: 22px;
    letter-spacing: 0em;
    margin: 0 0 0 50px;
    padding: 0;
    color: #000000;
}
.main__text-margin {
    margin-bottom: 14px;
}
.main__text-margin:last-child{
    margin-bottom: 0px;
}

/* .main__description:nth-child(3){
    margin-top: 25px;
} */
.main__text_margin_indent{
    margin-top: 30px;
    padding: 0;
}

@media screen and (max-width: 1279px){
    .main{
        width: calc(100% - 20px);
    }
    .main__title{
        font-size: 46px;
        line-height: 56px;
        margin-top: 80px;
    }
    .main__description{
        max-width: 680px;
        font-size: 15px;
        line-height: 22px;
    }
}
@media screen and (max-width: 1023px){
    .main__title{
        font-size: 42px;
        line-height: 50px;
    }
    .main__description{
        max-width: 648px;
    }
}
@media screen and (max-width: 700px){
    .main__description{
        width: 500px;
    }
}
@media screen and (max-width: 550px)
{
    .main__description{
        width: 400px;
    }
}
@media screen and (max-width: 450px)
{
    .main__description{
        width: 350px;
    }
}
@media screen and (max-width: 400px){
    .main__description{
        width: 270px;
    }
}
@media screen and (max-width: 767px){
    .main{
        width: calc(100% - 10px);
    }
    .main__title{
        font-size: 32px;
        line-height: 39px;
        margin: 60px 0 30px 20px;
    }
    .main__title:nth-child(1) {
        margin-top: 80px;
    }
    .main__description{
        font-size: 12px;
        line-height: 16px;
        margin-left: 20px;
    }
}
