.header {
  min-height: 503px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
}

.header__content-container {
  position: relative;
  display: flex;
  justify-content: space-between;
  width: 100%;
  min-height: 254px;
}

.header__main-logo {
  max-width: 720px;
  width: 100%;
  object-fit: contain;
  object-position: center;
}

.header__logo-link {
  display: block;
  width: 50px;
  height: 50px;
  background: url(../../images/logo.svg) no-repeat;
  background-position: center;
  background-size: contain;
  cursor: pointer;
  margin: 20px 0 0 20px;
  transition: 0.5s ease-in-out;
}

.header__logo-link:hover {
  transition: 0.5s ease-in-out;
  opacity: 0.6;
}

.header__title-logo {
  margin: 0;
}

.main__container {
  width: 100%;
}

@media screen and (max-width: 1100px) {
  .header__logo-link {
    width: 32px;
    height: 32px;
    margin: 11px 0 0 12px;
  }

}
@media screen and (max-width: 800px) {
  .header {
    min-height: 1000px;
  }
.header__main-logo {
  max-width: 620px
}
}

@media screen and (max-width: 700px) {
  .header__main-logo {
    width: 300px;
    min-height: 192px;
  }
  .header {
    min-height: 367px;
  }
}

@media screen and (max-width: 450px) {
  .header__main-logo {
    width: 300px;
  }
}
