.page {
  font-family: "Inter","Arial",sans-serif;
  display: flex;
  flex-direction: column;
  min-height: 1000px;
  background: url(../images/background-top.png) no-repeat center;
  background-size: cover;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  background-attachment: fixed;
}

.page__title {
  font-family: 'Inter';
  font-size: 3rem;
  color: white;
}

@media screen and (max-width: 700px) {
  .page {
    background-position: unset;
  }
}