.footer {
  max-width: 1280px;
}

.footer__container {
  display: flex;
  justify-content: space-between;
  margin: 20px 15px;
}

@media screen and (max-width: 550px) {
  .footer__container {
    flex-direction: column;
  }
}

.footer__text {
  font-size: 16px;
  line-height: 1.37;
  margin: 0;
  color: #fff;
}

@media screen and (max-width: 550px) {
  .footer__text {
    text-align: center;
  }
}

@media screen and (max-width: 767px) {
  .footer__text {
    font-size: 12px;
    line-height: 1.83;
  }
  .footer__text:last-of-type {
    margin-top: 5px;
  }
}

.footer__link {
  color: #fff;
  transition: 0.5s linear;
}

.footer__link:hover {
  opacity: 0.7;
}
