.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 1260px;
  margin: 0 auto;
}

@media screen and (max-width: 1310px) {
  .footer {
    max-width: 1000px;
  }
}

@media screen and (max-width: 1054px) {
  .footer {
    max-width: 748px;
  }
}

@media screen and (max-width: 350px) {
  .footer {
    max-width: 310px;
  }
}

.footer__container {
  display: flex;
  justify-content: space-between;
  margin: 20px 15px;
  width: 100%;
}

@media screen and (max-width: 550px) {
  .footer__container {
    flex-direction: column;
  }
}

.footer__copyright {
  font-size: 16px;
  line-height: 1.37;
  margin: 0;
  color: #ffffff;
}

@media screen and (max-width: 550px) {
  .footer__copyright {
    text-align: center;
  }
}

@media screen and (max-width: 350px) {
  .footer__copyright {
    font-size: 12px;
    line-height: 1.83;
  }
  .footer__copyright:last-of-type {
    margin-top: 5px;
  }
}

.footer__link {
  color: #ffffff;
}
