.header {
  width: 100%;
  min-height: 526px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
}

.header__content-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  min-height: 254px;
}

.header__main-logo {
  width: 861px;
  object-fit: contain;
  object-position: center;
}

.header__logo-link {
  display: block;
  width: 50px;
  height: 50px;
  background: url(../images/logo.svg) no-repeat;
  background-position: center;
  background-size: contain;
  cursor: pointer;
  margin: 15px 0 0 20px;
  transition: 0.5s ease-in-out;
}

.header__logo-link:hover {
  transition: 0.5s ease-in-out;
  opacity: 0.6;
}

@media screen and (max-width: 900px) {
  .header__main-logo {
    width: 600px;
  }
  .header__logo-link {
    width: 32px;
    height: 32px;
    margin: 11px 0 0 7px;
  }
}
@media screen and (max-width: 640px) {
  .header__main-logo {
    width: 303px;
  }
  .header {
    min-height: 367px;
  }
}