.linkTab {
  position: absolute;
  top: 0;
  right: 0;
  opacity: 1;
  border-radius: 30px;
  border: solid 2px;
  transition: transform .8s ease, opacity .8s ease;
  height: 36px;
  width: auto;
  padding: 0 19px;
}

@media(max-width:1100px) {
  .linkTab {
    padding: 0 16px;
    height: 30px;
  }
}

@media(max-width:500px) {
  .linkTab {
    padding: 0 13px;
    height: 25px;
  }
}

.linkTab__link {
  display: block;
  text-decoration: none;
  color: white;
  width: 100%;
  height: 100%;
}
