.linkHead {
    font-family: 'Inter';
    font-weight: 400;
    font-style: normal;
    font-size: 18px;
    line-height: 2.0;
    position: absolute;
    top: 0;
    right: 0;
    opacity: 1;
    background-color: transparent;
    color: white;
    border-radius: 30px;
    border: solid 2px white;
    transition: transform .7s ease, opacity .5s ease;
    height: 36px;
    width: auto;
    padding: 0 9px;
    display: flex;
}

@media(max-width:500px) {
    .linkHead {
        height: 25px;
        font-size: 12px;
        line-height: 2.1;
    }
}