.main{
    width: 100%;
    max-width: 1260px;
    background: #FFFFFF;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    margin: 0 auto;
    margin-top: 12px;

}
.main__container-text{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 0;
    margin: 0 0 110px 0;
}
.main__title{
    font-family: Inter;
    font-size: 50px;
    font-style: italic;
    font-weight: normal;
    line-height: 61px;
    letter-spacing: 0em;
    margin: 90px 0 40px 50px;
    padding: 0;
    padding: 0;
    color: #000000;
}
.main__list{
    margin: 0;
    padding: 0;
}
.main__text{
    margin-top: 14px;
    list-style-type: none;
    padding: 0;
}
.main__title:nth-child(1){
    margin-top: 100px;
}
.main__text:nth-child(1)
{
    margin-top: 0px;
}

.main__description{
    max-width: 760px;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: normal;
    line-height: 22px;
    letter-spacing: 0em;
    margin: 0 0 0 50px;
    padding: 0;
    color: #000000;
}

.main__description:nth-child(3){
    margin-top: 25px;
}
.main__text_margin_indent{
    margin-top: 30px;
    padding: 0;
}