.player__relise-item {
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  margin-bottom: 16px;
}

.player__relise-item:hover {
  cursor: pointer;
  font-style: italic;
}

@media screen and (max-width: 1054px) {
  .player__relise-item {
  margin-bottom: 15px;
  font-size: 18px;
  line-height: 22px;
  }
}
