.player__menu {
  overflow-y: scroll;
  height: 100px;
  list-style: none;
  margin-top: 30px;
  padding: 0;
}

.player__menu_show {
animation: showBox .4s ease-in-out;
height: 100px;
transition: height .4s ease-in-out;
}

.player__menu_hide {
  height: 0;
  animation: hideBox .4s ease-in-out;
  transition: height .4s ease-in-out;
}

.player__menu::-webkit-scrollbar {
  border: 2px solid rgba(90, 10, 10, 0.1);
  width: 3px;
}

.player__menu::-webkit-scrollbar-thumb {
  height: 10px;
  border: 2px solid rgba(255, 255, 255, 0.3);
  border-radius: 2px;
}

.player__song-title {
  font-style: italic;
  font-weight: normal;
  font-size: 20px;
  line-height: 24px;
}

@keyframes showBox {
  0% {
    height: 0px;
  } 100% {
    height: 100px;
  }
};

@keyframes hideBox {
  from {
    height: 100px;
  } to {
    height: 0px;
  }
};
