.player {
  max-width: 1280px;
  width: 100%;
  min-height: 100px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 38px 1fr 50px 24px;
  grid-template-rows: 30px 2px 1fr;
  grid-template-areas: "play song-title time arrow"
                       ". seek seek ." 
                       ". songs songs .";
  align-items: center;
  gap: 5px;
  color: white;
  font-style: normal;
  font-weight: 500;
  font-size: 22px;
  line-height: 27px;
}

.player__play-btn {
  width: 32px;
  height: 28px;
  border: 0;
}

.player__play-btn_play {
  background: url('../images/player/play.svg') no-repeat;
  background-position: center;
}
.player__play-btn_pause {
  background: url('../images/player/pause.svg') no-repeat;
  background-position: center;
}

.player__control-btn {
  grid-area: arrow;
  width: 24px;
  height: 24px;
  background: url('../images/player/arrow-up.svg') no-repeat;
  background-size: contain;
  background-position: center;
  border: 0;
}

.player__song-info {
  grid-area: song-title;
}

.player__song-time {
  grid-area: time;
}

.player__seeker {
  grid-area: seek;
  height: 2px;
  background: url('../images/player/line-1.svg');
  outline: none;
  -webkit-appearance: none;
  width: 100%;
}
.player__seeker::-webkit-slider-thumb {
  width: 10px;
  -webkit-appearance: none;
  height: 10px;
  background: #434343;
}

.player__songs-list {
  grid-area: songs;
  border: 1px solid red;
}