.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 1260px;
  margin: 0 auto;
  width: calc(100% - 20px);
}

.footer__container {
  display: flex;
  justify-content: space-between;
  margin: 20px 15px;
  width: 100%;
}

@media screen and (max-width: 550px) {
  .footer__container {
    flex-direction: column;
  }
}

.footer__copyright {
  font-size: 16px;
  line-height: 1.37;
  margin: 0;
  color: #ffffff;
}

@media screen and (max-width: 550px) {
  .footer__copyright {
    text-align: center;
  }
}

@media screen and (max-width: 767px) {
  .footer__copyright {
    font-size: 12px;
    line-height: 1.83;
  }
  .footer__copyright:last-of-type {
    margin-top: 5px;
  }
}

.footer__link {
  color: #ffffff;
  transition: 0.5s linear;
}

.footer__link:hover {
  opacity: 0.7;
}
