.player__releases-list {
  list-style: none;
  padding: 0;
  margin: 16px 0 0 0;
}

.player__release-message {
  font-style: italic;
  font-weight: normal;
  font-size: 20px;
  line-height: 24px;
}

@media screen and (max-width: 767px) {
  .player__releases-list {
    font-size: 14px;
    line-height: 19px;
    margin-bottom: 10px;
  }
}
