.player__release-item {
  font-family: "Inter", "Arial",sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  margin-bottom: 16px;
}

.player__release-item:hover {
  font-family: "Inter", "Arial",sans-serif;
  cursor: pointer;
  font-style: italic;
}

@media screen and (max-width: 1054px) {
  .player__release-item {
  margin-bottom: 15px;
  font-size: 18px;
  line-height: 22px;
  }
}
@media screen and (max-width: 767px) {
  .player__release-item {
    font-size: 14px;
    line-height: 19px;
    margin-bottom: 10px;
  }
}


