@keyframes move {
  from {
    transform: translate(100vw);
  }
  to {
    transform: translate(-100vw);
  }
}

.player {
  z-index: 1;
  font-family: "Inter", "Arial", sans-serif;
  max-width: 1260px;
  width: 100%;
  color: white;
  display: grid;
  grid-template-columns: min-content 60px 1fr auto 55px;
  grid-template-rows: min-content min-content;
  grid-template-areas:
    "album control-box control-box buttonButton player__control-btn"
    "album . relise-box relise-box .";

  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  transition: margin .4s;
  margin-bottom: 20px;
  z-index: 200;
}


/* Кнопка проигрывания музыки */

.player__play-btn {
  width: 20px;
  height: 16px;
  margin: 5px 20px 0 27px;
  padding: 0;
  border: 0;
  outline: none;
  cursor: pointer;
  transition: 0.5s ease-in-out;
}

.player__play-btn:hover {
  transition: 0.5s ease-in-out;
  opacity: 0.6;
}

.player__control-wrapper {
  display: flex;
  width: 100%;
}

.player__play-btn_play {
  background: url('../../images/player/play.svg') no-repeat;
  background-size: contain;
  background-position: center;
}

.player__play-btn_pause {
  background: url('../../images/player/pause.svg') no-repeat;
  background-size: contain;
  background-position: center;
}

/* Кнопка выезжающего плейлиста/текстов песен */

.player__control-btn {
  width: 25px;
  height: 25px;
  margin-left: 20px;
  margin-right: 15px;
  outline: none;
  cursor: pointer;
  border: 0;
  transition: 0.5s ease-in-out;
  grid-area: player__control-btn;
}

.player__control-btn_open {
  background: url('../../images/player/arrow-up.svg') no-repeat;
  background-size: contain;
  background-position: center;
}

.player__control-btn_close {
  background: url('../../images/player/close-songlist.svg') no-repeat;
  background-size: contain;
  background-position: center;
}

.player__control-btn:hover {
  transition: 0.5s ease-in-out;
  opacity: 0.6;
}

/* Кнопка переключения песен/плейлиста */

.player__switch-btn {
  font-family: "Inter", "Arial", sans-serif;
  width: 135px;
  height: 35px;
  border: 2px solid #FFFFFF;
  color: white;
  background-color: transparent;
  border-radius: 30px;
  margin-left: 10px;
  font-style: italic;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  opacity: 1;
  cursor: pointer;
  outline: none;
  transition: all .4s ease-in-out;
}

.player__cover {
  grid-area: album;
  width: 176px;
  height: 176px;
  background: #C4C4C4;
  border-radius: 4px;
  object-fit: cover;
  margin-left: 15px;
}

.player__switch-btn:hover {
  transition: 0.4s ease-in-out;
  opacity: 0.6;
}

.player__functional-btn-box {
    display: flex;
    grid-area: buttonButton;

}

/* Контейнер с названием песни, строкой состояния проигрывания и текстом/плейлистом */

.player__container {
  grid-area: control-box;
  display: flex;
  grid-template-columns: 164px 30px 1fr 30px;
  width: 100%;
}
.player__control-box {
  display: flex;
}

/* Бокс для название песни и времени проигрывания */

.player__info-box {
  display: grid;
  grid-template-columns: 1fr auto;
}

.player__seeker-info-box {
  width: 100%;
}

.player__seeker-open {
  max-width: 690px;
}

/* Название текщей песни */

.player__song-info {
  white-space: nowrap;
  margin: 0;
}

.player__song-info_moving {
  animation: move 13s infinite linear;
}

/* добавлен контейнер, чтобы бегущая строка не залезала на время.*/

.player__moving-string-container {
  margin-right: 5px;
  overflow: hidden;
}

/* Строка состояния проигрывания */

.player__seeker {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 3px;
  margin-top: 5px;
  border-radius: 10px;
  background: url('../../images/player/line-1.svg');
  -webkit-appearance: none;
  outline: none;
  cursor: pointer;
  transition: height .4s ease-in-out;
}

.player__seeker:hover {
  height: 4px;
  transition: height .4s ease-in-out;
}

/* Активная строка состояния проигрывания */

.player__seeker-cover {
  position: absolute;
  background: url('../../images/player/line-seek.svg');
  width: 0;
  border-radius: 10px;
  height: 100%;
}

@media screen and (max-width: 1240px) {
  .player__switch-btn {
    font-size: 13px;
  }
}

@media screen and (max-width: 1054px) {
  .player {
    font-size: 18px;
    line-height: 22px;
  }
  .player__cover {
    width: 164px;
    height: 164px;
  }
}

@media screen and (max-width: 910px) {
  .player {
    grid-template-areas:
    "control-box control-box buttonButton player__control-btn"
    "album relise-box relise-box .";
    grid-template-columns: min-content 1fr auto 55px;

  }
  .player__cover {
    margin-left: 55px;
    margin-top: 15px;
    width: 112px;
    height: 112px;
  }
  .player__switch-btn {
    font-size: 11px;
    font-size: 15px;
    line-height: 18px;
    width: 125px;
  }
}

@media screen and (max-width: 767px) {
  .player {
    font-size: 14px;
    line-height: 19px;
    grid-template-areas:
    "control-box control-box control-box player__control-btn"
    "buttonButton buttonButton buttonButton buttonButton"
    "album relise-box relise-box .";
    grid-template-columns: min-content 25px 1fr 50px;
  }
  .player__cover {
    margin-left: 40px;
  }
  .player__functional-btn-box {
    width: 100%;
    justify-content: space-between;
    align-items: baseline;
  }

  .player__play-btn {
    width: 16px;
    height: 13px;
    margin: 5px 12px 0 15px;
  }

  .player__switch-btn {
    margin-left: 10px;
    margin-right: 10px;
    width: 100%;
    margin-top: 10px;
  }

  .player__control-btn {
    margin: 0 15px 0 11px;
    width: 16px;
    height: 16px;
  }
  .player__control-wrapper {
    flex-direction: column;
  }
}

@media screen and (max-width: 490px) {
  .player {
    grid-template-rows: min-content 1fr min-content;
    grid-template-areas:
    "control-box control-box control-box player__control-btn"
    "album album album album"
    "buttonButton buttonButton buttonButton buttonButton"
    "relise-box relise-box relise-box relise-box";
    margin-bottom: 30px;
  }

  .player_otstup{
    color: red;
  }

  .player__cover {
    height: 240px;
    width: 240px;
    margin: 20px auto 0;
  }
  .player__functional-btn-box{
    margin-bottom: 10px;
    margin-top: 10px;
  }
}
