.player {
  max-width: 1250px;
  width: 100%;
  display: flex;
  color: white;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  transition: margin .4s;
}

/* Кнопка проигрывания музыки */
.player__play-btn {
  width: 32px;
  height: 28px;
  margin: 0px 20px 0 25px;
  padding: 0;
  border: 0;
  outline: none;
  cursor: pointer;
  transition: 0.5s ease-in-out;
}

.player__play-btn:hover {
  transition: 0.5s ease-in-out;
  opacity: 0.6;
}

.player__play-btn_play {
  background: url('../../images/player/play.svg') no-repeat;
  background-size: contain;
  background-position: center;
}

.player__play-btn_pause {
  background: url('../../images/player/pause.svg') no-repeat;
  background-size: contain;
  background-position: center;
}

/* Кнопка выезжающего плейлиста/текстов песен */
.player__control-btn {
  width: 25px;
  height: 25px;
  margin-left: 20px;
  margin-right: 25px;
  outline: none;
  cursor: pointer;
  border: 0;
  transition: 0.5s ease-in-out;
}

.player__control-btn_open {
  background: url('../../images/player/arrow-up.svg') no-repeat;
  background-size: contain;
  background-position: center;
}

.player__control-btn_close {
  background: url('../../images/player/close-songlist.svg') no-repeat;
  background-size: contain;
  background-position: center;
}

.player__control-btn:hover {
  transition: 0.5s ease-in-out;
  opacity: 0.6;
}

/* Кнопка переключения песен/плейлиста */
.player__switch-btn {
  width: 135px;
  height: 35px;
  border: 2px solid #FFFFFF;
  color: white;
  background-color: transparent;
  border-radius: 30px;
  margin-left: 20px;
  font-style: italic;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  opacity: 1;
  cursor: pointer;
  outline: none;
  transition: all .4s ease-in-out;
}

.player__switch-btn:hover {
  transition: 0.4s ease-in-out;
  opacity: 0.6;
}

.player__switch-transition {
  transition: all 0.4s ease-in-out;
}

/* Контейнер с названием песни, строкой состояния проигрывания и текстом/плейлистом */
.player__container {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.player__control-box {
  display: flex;
}

/* Бокс для название песни и времени проигрывания */
.player__info-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.player__seeker-info-box {
  width: 100%;
}

/* Название текщей песни */
.player__song-info {
  margin: 0;
}

/* Строка состояния проигрывания */
.player__seeker {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 3px;
  margin-top: 5px;
  border-radius: 10px;
  background: url('../../images/player/line-1.svg');
  -webkit-appearance: none;
  outline: none;
  cursor: pointer;
  transition: height .4s ease-in-out;
}

.player__seeker:hover {
  height: 4px;
  transition: height .4s ease-in-out;
}

/* Активная строка состояния проигрывания */
.player__seeker-cover {
  position: absolute;
  background: url('../../images/player/line-seek.svg');
  width: 0;
  border-radius: 10px;
  height: 100%;
}



@media screen and (max-width: 1054px) {
  .player {
    font-size: 18px;
    line-height: 22px;
  }
}

@media screen and (max-width: 781px) {
  .player__switch-btn {
    font-size: 15px;
    line-height: 18px;
  }
}

@media screen and (max-width: 760px) {
  .player {
    font-size: 14px;
    line-height: 19px;
  }
  .player__control-box {
    flex-direction: column;
  }
  .player__switch-btn {
    margin: 21px 0 0 0;
    width: 100%;
  }
  .player__play-btn {
    width: 16px;
    height: 13px;
    margin: 5px 12px 0 15px;
  }
  .player__control-btn {
    margin: 0 15px 0 11px;
    width: 16px;
    height: 16px;
  }
}
