.player__menu {
  grid-area: relise-box;
  width: 100%;
  overflow-y: scroll;
  list-style: none;
  padding: 0;
  transition: all .4s ease-in-out;
  z-index: 9999;
}

.player__menu_show {
  animation: showBox .4s ease-in-out;
  height: 100px;
  margin-top: 25px;
}

.player__menu_hide {
  height: 0;
  transition: height .4s ease-in-out;
}

.player__menu::-webkit-scrollbar {
  border: 2px solid rgba(90, 10, 10, 0.1);
  width: 3px;
}

.player__menu::-webkit-scrollbar-thumb {
  height: 10px;
  border: 2px solid rgba(255, 255, 255, 0.3);
  border-radius: 2px;
}

.player__menu-title {
  font-style: italic;
  font-weight: normal;
  margin: 0 0 16px 0;
  font-size: 20px;
  line-height: 24px;
}

@media screen and (max-width: 1054px) {
  .player__menu-title {
    font-size: 18px;
    line-height: 22px;
  }
}

@media screen and (max-width: 910px) {
  .player__menu_show {
  margin-top: 20px;

  }
  .player__menu{
    margin-left: 30px;
  }
}

@media screen and (max-width: 767px) {
  .player__menu-title {
    font-size: 14px;
    line-height: 19px;
  }
}

@media screen and (max-width: 490px) {
  .player__menu_show {
    max-width: 240px;
    margin: 20px auto;
  }
}

@keyframes showBox {
  0% {
    height: 0px;
  }
  100% {
    height: 100px;
  }
}
